@import '~bootstrap/scss/bootstrap';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {

    .blue_banner {
        background-color: #0282f9;

        li:first-child a {
            padding-right: 50px;
        }

        li a {
            color: #fff;
            font-weight: 600;
            text-decoration: none;
            font-size: small;
        }
    }

    .logo {
        width: 65px;
        vertical-align: middle;
    }

    .header_menu_container {
        vertical-align: middle;

        ul {
            list-style-type: none;
            display: flex;
            margin-bottom: 0px;

            li {
                padding: 18px;
                border: 3px solid transparent;

                &.active,
                &:hover {
                    border-bottom: 3px solid #0282F9;

                }

                a {
                    color: #1C1C1C;
                    text-decoration: none;

                    &.active,
                    &:hover {
                        color: #0282F9;

                    }

                }
            }

        }
    }
}

main{
    background-color: black;

    .btn_relative{
        position: relative;
    }

    .my_bg{
        background-color: #0282F9;
    }

    .my_border{
        color: 2px solid transparent;
    }
    
    .current_btn {
        padding: 15px 20px;
        color: white;
        cursor: pointer;
        position: absolute;
        top: 370px;
        font-size: 16px;
        font-weight: 700;
    }
    
    .jumbotron{
        background-image: url(../../public/img/jumbotron.jpg);
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .card-container {
        display: flex;
        flex-wrap: wrap;
        padding: 50px 0px 90px;
        .card{
            width: calc(100% / 6 - 10px);
            margin: 30px 5px;
            height: 300px;
            color: white;
            background-color: black;
    
            img{
                height: 300px;
                object-fit: fill;
            }
        }
    }
}